# Servidor
PORT=3000
HOST=localhost
NODE_ENV=development

# Base de datos
DB_PORT=5432
DB_USERNAME=postgres
PASSWORD=tu_password
DATABASE=techos_para_chile

# Autenticación
JWT_SECRET=tu_clave_secreta_minimo_32_caracteres
JWT_EXPIRES_IN=8h
